* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family:   'Poppins' , 'sans-serif ';
}

body {
   background: black;
   color: white;
   
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;

}
.logo:hover{
    animation: 3s;
    color:rgb(0, 255, 55);
}
.logo::before {
    content: '' ; /*detta gör att man fyller en fution fast den inte är fylld med dessa '' */
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: red;
    animation: showRight 1s ease forwards;
    animation-delay: .2s;


}

.navbar a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
    
}

.navbar a:hover,
.navbar a.active{
    color: rgb(0, 255, 55);
}

.home {
    height: 100vh;
    background: url(Images/Röd\ ferrari.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.homecontent {
    max-width: 600px;     /* Man skriver in detta för att se till att texten inte sträcker sig ut på hela skärmen*/

}
.homecontent h1 {
    font-size: 60px;
    font-weight: 750;
    color: rgb(0, 255, 55);
}
.homecontent p {
    font-size: 16px;
    margin: 20px 0 40px;

}
.homecontent .button {   /*vi anropar en class i en class, för att vi vill bara påverka denna class*/
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 50px;


}
.button a{ /*den targetar bara [a] */
    position: relative;
    display: inline-flex;  /*Den anpassar design så att den bara påverkar sig själv och samma rad*/
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background:transparent;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 19px;
    color: rgb(238, 246, 239);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;  
    z-index: 1;

}


.button a:nth-child(2) {
    background: transparent;
}


.button a::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0;
    height: 100%;
    background: yellowgreen;
    z-index: -1; /*Man skriver in Z-index för att besämma placeringen på  tex färgen*/
    transition: .5s;

 }

 .button a:hover::before {
    width: 100%;
 }
 .homehover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 670px;
    height: 100%;
    background: transparent;
    transition: 3s;
 }
 .homehover:hover {
    background: #151313;
    opacity: 0,8;
 }

 @keyframes showRight {
    100% {
        width: 0;
    }
 }